<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SISTEMA EVERIS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="card-body">
<div class="card text-white bg-dark mb-3">
    <div class="card-header">Editar estudiante</div>
    <div class="card-body">
        <form th:action="@{/guardarCliente}" th:object="${cliente}" method="POST">

            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input required="required" type="text" th:field="*{nombre}" id="inputNombre"
                       class="form-control mb-4 col-4" name="nombre">

            </div>
            <div class="form-group">
                <label for="inputApellidos">Apellidos</label>
                <input required="required" type="text" th:field="*{apellidos}" class="form-control mb-4 col-4"
                       id="inputApellidos" name="apellidos">
            </div>
            <div class="form-group">
                <label for="inputFecha">Fecha</label>
                <input required="required" th:field="*{fecha}" type="date" class="form-control mb-4 col-4"
                       id="inputFecha" name="fecha"
                >
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input required="required" th:field="*{email}" type="email" class="form-control mb-4 col-4" id="inputEmail"
                       name="email">
            </div>
            <a class="btn btn-primary" href="index" role="button" id="btnReturn">Volver</a>
            <button type="submit" name="btnEditar" class="btn btn-success">Guardar</button>

        </form>
    </div>
</div>
</body>
</html>