<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SISTEMA EVERIS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="card-body">
<div class="card text-white bg-dark mb-3">
    <div class="card-header">Datos Estudiantes</div>
    <div class="card-body">
        <form th:action="@{/guardarCliente}" th:object="${cliente}" method="POST">
            <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" required="required" class="form-control mb-4 col-4" id="inputNombre" name="nombre"
                       placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="inputApellidos">Apellidos</label>
                <input required="required" type="text" class="form-control mb-4 col-4" id="inputApellidos" name="apellidos"
                       placeholder="Apellidos">
            </div>
            <div class="form-group">
                <label for="inputFecha">Fecha</label>
                <input required="required" type="date" class="form-control mb-4 col-4" id="inputFecha" name="fecha"
                       placeholder="Seleccione fecha">
            </div>
            <div class="form-group">
                <label for="inputDni">Email</label>
                <input required="required" type="email" class="form-control mb-4 col-4" id="inputEmail"
                       name="email" placeholder="Correo electronico">
            </div>
            <a class="btn btn-primary" href="index" role="button" id="btnReturn">Volver</a>
            <button type="submit" name="btnAñadir" class="btn btn-success">Añadir</button>
        </form>
    </div>
</div>
</body>
</html>